---
import AboutTitle from "../../../components/AboutTitle.astro";
import Title from "../../../components/Title.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import Layout from "../../../layouts/Layout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<Layout description="Acerca de mi">
    <div transition:animate="slide" class="w-svw h-svh p-4 flex flex-col box-border text-slate-300">
        <Title  title={t('title.about')}/>

        <div class="leading-relaxed space-y-2">

            <!-- <AboutTitle title={`${t('about.about-me')}`} color="text-old-gold" size="text-3xl" /> -->
    
            <p class="text-center text-slate-300">{t('about.about-me.text')}</p>

            <AboutTitle title={`${t('about.my-style')}`} color="text-old-gold" size="text-3xl" />

            <div class="leading-relaxed w-full flex flex-col justify-center items-center">
                <p class="text-gray-200">{t('about.my-style.sb')}</p>
                <div class="leading-loose space-y-2">
                    <p class="text-center">
                        <span class="font-semibold">{t('about.my-style.bold.p1')}</span> {t('about.my-style.p1')}
                    </p>
                    <p class="text-center">
                        <span class="font-semibold">{t('about.my-style.bold.p2')}</span> {t('about.my-style.p2')}
                    </p>
                </div>
            </div>

            <AboutTitle title={`${t('about.why-me')}`} color="text-old-gold" size="text-3xl" />

            <div class="leading-relaxed w-full flex flex-col justify-center items-center">
                <div class="leading-loose space-y-2">
                    <p class="text-center">
                        <span class=" font-semibold">{t('about.why-me.bold.p1')}</span> {t('about.why-me.p1')}
                    </p>
                    <p class="text-center">
                        <span class=" font-semibold">{t('about.why-me.bold.p2')}</span> {t('about.why-me.p2')}
                    </p>
                    <p class="text-center">
                        <span class=" font-semibold">{t('about.why-me.bold.p3')}</span> {t('about.why-me.p3')}
                    </p>
                </div>
            </div>

            <AboutTitle title={`${t('about.work-together')}`} color="text-old-gold" size="text-3xl" />

            <p class="text-center"> {t('about.work-together.p1')}</p>

        </div>

    </div>
</Layout>