---
import Layout from '../../layouts/Layout.astro';
import Gallery from '../../components/Gallery';
import { popularSlides } from '../../slides';
import Title from '../../components/Title.astro';
const lang = 'en';
---

<Layout lang={lang}>
    <div transition:animate="slide" class="w-svw h-svh p-4 flex flex-col box-border">
        <Title title="Home" />
        <div class="w-full h-svh">
            <Gallery photos={popularSlides} client:only="react" />
        </div>
    </div>
</Layout>
