---
import Layout from "../../../layouts/Layout.astro";
import { Image } from 'astro:assets';
import portraitImg from '../../../../public/img/portrait/IMG_8532_difuminado_smaller.jpg';
import kidsImg from '../../../../public/img/kids/IMG_9390-Editar_smaller.jpg';
import macroImg from '../../../../public/img/macro/IMG_8550_edit_smaller.jpg';
import weddingImg from '../../../../public/img/wedding/IMG_0292_smaller.jpg';
import Title from "../../../components/Title.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import { fade } from "astro:transitions";
import Wrapper from "../../../layouts/Wrapper.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const kindOfPicturesTranslate = t('categories');
console.log("🚀 ~ kindOfPicturesTranslate:", kindOfPicturesTranslate)

// type Category = 'portrait' | 'wedding' | 'macro' | 'kids';
export const kindOfPictures = [
    {
        id: 1,
        category: 'portrait',
        image: portraitImg
    },
    {
        id: 2,
        category: 'wedding',
        image: weddingImg
    },
    {
        id: 3,
        category: 'macro',
        image: macroImg
    },
    {
        id: 4,
        category: 'kids',
        image: kidsImg
    },
];

---
<Layout lang="en" title="Gallery">
    <Wrapper>
        <!-- <div transition:animate="slide" class="w-full h-svh p-4 lg:py-12 lg:px-32 flex flex-col box-border"> -->
        <Title  title={t('nav.gallery')}/>
        <div class="grid grid-cols-2 gap-2 box-border lg:px-32" transition:animate={fade({duration: '0.7s'})} >
            {
                kindOfPictures.map((kind, index) => {
                    return (
                        <a class="w-full h-[25svh] md:h-[40svh] lg:h-[41svh] xl:h-[35svh] rounded-md" href={`/${lang}/gallery/${kind.category}`}>
                            <div class="relative w-full h-full rounded-md shadow-xl">
                                <Image 
                                    class={'object-cover w-full h-full rounded-md'} 
                                    src={kind.image} 
                                    sizes="(max-width: 600px) 300px, (max-width: 1024px) 600px, 800px"
                                    alt="A description of my image." 
                                />
                                <div class="absolute  inset-0 bg-black-carbon/50"></div>
                                <div class="absolute inset-0 w-full h-full flex flex-col justify-center items-center">
                                    <h2 
                                        class="text-2xl text-slate-200 md:text-4xl"
                                    >
                                        { t('categories')[index].charAt(0).toUpperCase() + t('categories')[index].substring(1)}
                                    </h2>
                                </div>
                            </div>
                        </a>
                    );
                })
            }
        </div>
        <!-- </div> -->
    </Wrapper>
</Layout>