---
import Title from "./Title.astro";
import Gallery from "./Gallery";
import { kidsSlides } from "../slides";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Title  title={t('category.kids')} />
<div class="lg:px-20" >
   <Gallery photos={kidsSlides} client:load />
</div>
