---
import Title from "./Title.astro";
import Gallery from "./Gallery";
import { kidsSlides } from "../slides";
---
<div class="p-4">
    <Title  title="Kids" />

     <div >
        <Gallery photos={kidsSlides} client:only="react" />
     </div>
</div>