---
import Title from "./Title.astro";
import Gallery from "./Gallery";
import { macroSlides } from "../slides";
---
<div class="p-4">
    <Title  title="Wedding" />

     <div >
        <Gallery photos={macroSlides} client:only="react" />
     </div>
</div>