---
import Title from "./Title.astro";
import Gallery from "./Gallery";
import { macroSlides } from "../slides";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<div>
    <Title  title={t('category.macro')} />

     <div class="lg:w-1/4" >
        <Gallery photos={macroSlides} client:load />
     </div>
</div>