---
import { fade, slide } from 'astro:transitions';
import Title from "./Title.astro";
import Gallery from './Gallery';
import {portraitSlides} from '../slides';

---
<div class="p-4">
    <Title transition:animate={slide({duration: '1s'})} title="Portrait" />

    <div transition:animate={fade({duration: '0.7s'})}>
         <Gallery photos={portraitSlides} client:only="react" />
     </div>
</div>