---
import { fade, slide } from 'astro:transitions';
import Title from "./Title.astro";
import Gallery from './Gallery';
import {portraitSlides} from '../slides';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
console.log("🚀 ~ lang:", lang)
const t = useTranslations(lang);
---
<div>
    <Title title={t('category.portrait')} />

    <div transition:animate={fade({duration: '0.7s'})}>
         <Gallery photos={portraitSlides} client:load />
     </div>
</div>