---
import Title from "./Title.astro";
import Gallery from "./Gallery";
import { weddingSlides } from "../slides";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<div>
    <Title  title={t('category.wedding')} />

     <div class="w-full lg:w-1/4 md:w-1/2">
        <Gallery photos={weddingSlides} client:load />
     </div>
</div>