---
import Layout from '../../layouts/Layout.astro';
import Mansory from "../../components/Mansory";

export function getStaticPaths() {
    return [
		{params: {lang: 'en'}},
		{params: {lang: 'es'}},
	];
}


const {lang} = Astro.params;
console.log("🚀 ~ lang:", lang)
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="w-svw h-svh p-4">
		 <Mansory client:only="react"/>
	</div>
</Layout>
