---
import Layout from '../../layouts/Layout.astro';
import Gallery from '../../components/Gallery';
import { popularSlides } from '../../slides';
import Title from '../../components/Title.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import Wrapper from '../../layouts/Wrapper.astro';
// const lang = 'es';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<Layout lang={lang} description="Fotografía">
    <Wrapper>
        <!-- <div transition:animate="slide" class="w-svw h-svh p-4 flex flex-col box-border"> -->
            <Title title={t('category.home')} />
            <div class="w-full h-svh lg:px-20">
                <Gallery photos={popularSlides} client:only="react" />
            </div>
        <!-- </div> -->
    </Wrapper>
</Layout>
