---
import Botbar from "../components/Botbar";
import "../styles/global.css"
import '@fontsource/poppins';
import { ClientRouter } from 'astro:transitions';

const { lang } = Astro.props;
console.log("🚀 ~ lang:", lang)
import "yet-another-react-lightbox/styles.css";
import Topbar from "../components/Topbar.astro";
// import Topbar from "../components/Topbar";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<ClientRouter client:only/>
	</head>
	<body class="bg-black-carbon font-display">
		<Topbar />
		<Botbar client:load />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}
</style>

<style is:global>
	@keyframes bump {
	  0% {
		opacity: 0;
		transform: scale(1) translateX(200px);
	  }
	  50% {
		opacity: 0.5;
		transform: scale(1.1);
	  }
	  100% {
		opacity: 1;
		transform: scale(1) translateX(0);
	  }
	}
  </style>
