---
import Layout from '../../../../layouts/Layout.astro';
import { kindOfPictures } from '../index.astro';
import Kids from '../../../../components/Kids.astro';
import Portrait from '../../../../components/Portrait.astro';
import Wedding from '../../../../components/Wedding.astro';
import Macro from '../../../../components/Macro.astro';
import Wrapper from '../../../../layouts/Wrapper.astro';

export function getStaticPaths() {
    const staticRoutes = kindOfPictures.map((kind) => ({
        params: {category: kind.category}
    }));
    console.log("🚀 ~ getStaticPaths ~ categories:", staticRoutes)

    return staticRoutes;
}

const { category } = Astro.params;
---
<Layout>
    <Wrapper>
        <div class="lg:px-12">
            {(category == 'kids') ? <Kids />  : ''}
            {(category == 'macro') ? <Macro /> : ''}
            {(category == 'portrait') ? <Portrait /> : ''}
            {(category == 'wedding') ? <Wedding /> : ''}
        </div>
    </Wrapper>
</Layout>